In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, mean_squared_error

from sklearn.preprocessing import OneHotEncoder

seed = 1

In [8]:
df = pd.read_csv('Data/auto.csv')
df.head()

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0

In [9]:
df.columns

Index(['mpg', 'displ', 'hp', 'weight', 'accel', 'origin', 'size'], dtype='object')

In [10]:
# encode the 'origin' column

# OneHotEncoding using pandas
df = pd.get_dummies(df, columns=['origin'], dtype='int')

# Displaying result
print(df.head(10))

    mpg  displ   hp  weight  accel  size  origin_Asia  origin_Europe  \
0  18.0  250.0   88    3139   14.5  15.0            0              0
1   9.0  304.0  193    4732   18.5  20.0            0              0
2  36.1   91.0   60    1800   16.4  10.0            1              0
3  18.5  250.0   98    3525   19.0  15.0            0              0
4  34.3   97.0   78    2188   15.8  10.0            0              1
5  32.9  119.0  100    2615   14.8  10.0            1              0
6  32.2  108.0   75    2265   15.2  10.0            1              0
7  22.0  121.0   76    2511   18.0  10.0            0              1
8  15.0  302.0  130    4295   14.9  20.0            0              0
9  17.0  302.0  140    3449   10.5  20.0            0              0

   origin_US
0          1
1          1
2          0
3          1
4          0
5          0
6          0
7          0
8          1
9          1

In [11]:
df.head()

,mpg,displ,hp,weight,accel,size,origin_Asia,origin_Europe,origin_US
0,18.0,250.0,88,3139,14.5,15.0,0,0,1
1,9.0,304.0,193,4732,18.5,20.0,0,0,1
2,36.1,91.0,60,1800,16.4,10.0,1,0,0
3,18.5,250.0,98,3525,19.0,15.0,0,0,1
4,34.3,97.0,78,2188,15.8,10.0,0,1,0

In [12]:
X = df.drop(['mpg'], axis=1)
y = df['mpg']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=seed)

rfr = RandomForestRegressor(n_estimators=400, min_samples_leaf=0.12, random_state=seed)

rfr.fit(X_train, y_train)

y_pred = rfr.predict(X_test)

In [23]:
# evaluate the test set rmse
rmse_test = mean_squared_error(y_test, y_pred) ** (1/2)
# rmse_test = np.sqrt(mean_squared_error(y_test, y_pred))


# print the test set rmse with f string
print(f"The test set rmse of rfr: ", {rmse_test})

The test set rmse of rfr:  {4.033556476464403}